* {
  margin: 0;
  padding: 0;
}

.wrapper {
  /* width: 100vh;
  height: 100vh; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
    text-align: center;
}

.block {
    background-color: rgb(241, 183, 183);
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
}

li {
  padding: 10px;
}

/* li:hover {
    display: block;
    border-radius: 20px;
    background-color: #ccc;
    color: blueviolet;
} */
